<div class="row m-md-5 justify-content-center">
  <div class="col-md-8 my-md-2">
    <h1 class="row justify-content-center">SPALIFE</h1>
    <div class="row m-md-4 justify-content-center">
      <p>SPALIFEは温泉好きが情報を共有し合うコミュニティサイトです。</p></br>
      <p>あなたの知ってる温泉を語ってみませんか？ </p></br>
      <p></p></br>
      <p></p></br>
      <p></p>
    </div>
    <div class="row m-md-4 justify-content-center">
    </div>
  </div>
</div>