@use '~bootstrap/scss/bootstrap';

.notification-icon {
  position: relative;

  &__image {
    top: 12px;
    left: 4px;
    position: absolute;
  }
  &__text {
    top: 15px;
    left: 7px;
    position: absolute;
    font-size: 60%;
  }
}

