@use '~bootstrap/scss/bootstrap';
@use 'registration.scss';
@use 'session.scss';
@use 'end_user.scss';
@use 'hot_post.scss';
@use 'hot_spring.scss';

.main{
  height: 600px;
}

.sidebar_field{
  height: 100%;
}

.notification-icon {
  position: relative;

  &__image {
    top: 12px;
    left: 4px;
    position: absolute;
  }
  &__text {
    top: 15px;
    left: 7px;
    position: absolute;
    font-size: 60%;
  }
}
