.end_user_item{
 width: 100%;

 &_intro{
  width: 100%;
  height: 200px;
  padding: 0;
 }
}

.end_user_info{

}

.withdrawal{

 &_body{
   width: 100%;
   height: 200px;
 }
}

.tabs{
 width: 100%;
}

.user_table{
 padding-top: 10px;
 
  &_head{
    background-color: #c0c0c0;
    color: #000000;
  }
}