.new_spring_form{
  background-color: #98fb98;
}

.edit_spring_form{
  background-color: #98fb98;
}

.search_spring{
  background-color: #f0e68c;
}

.search_spring_form{
  width: 100%;
  
  &ser-form-control{
    min-width: 150px;
  }
}

.table_spring{
  
  &_head{
    background-color: #c0c0c0;
    color: #000000
  }
  
  &_body{
    background-color: #ffffff;
    color: #000000
  }
}

.spring_item {
  background-color: #ffffff;

  &__head {
    width: 100%;
  }

  &__image {

  }

  &__body {
    width: 50%;
    height: 200px;
    padding: 0;
  }

  &__body2 {
    width: 100%;
    margin: 0;
  }
}

.spring_table{
  
  &_head{
    background-color: #c0c0c0;
    color: #000000
  }
}

.spring_post{
  margin: 0 15px;
  background-color: #ffffff;
}