<div class="container">
  <h2 class="row my-md-3 justify-content-center">通知一覧</h2>
  <div class="row">
    <% notifications = @notifications.where.not(visitor_id: current_end_user.id) %>
    <% if notifications.exists? %>
      <%= render notifications %>
      <%= paginate notifications %>
    <% end %>
  </div>
</div>